---
import Layout from "@layouts/Content.astro";
---

<Layout title="Rows" description="Grid Rows -- enough said">
  <main transition:name="main" transition:animate="slide">
    <div>Some Stuff</div>
  </main>
</Layout>

<style lang="scss"></style>
