/* SCSS HEX */
$night: #171614ff;
$bistre: #3a2618ff;
$garnet: #754043ff;
$beaver: #9a8873ff;
$black-olive: #37423dff;
$mindaro: #e9eb87ff;

/* SCSS HSL */
$night: hsla(40, 7%, 8%, 1);
$bistre: hsla(25, 41%, 16%, 1);
$garnet: hsla(357, 29%, 35%, 1);
$beaver: hsla(32, 16%, 53%, 1);
$black-olive: hsla(153, 9%, 24%, 1);
$mindaro: hsla(61, 71%, 73%, 1);

/* SCSS RGB */
$night: rgba(23, 22, 20, 1);
$bistre: rgba(58, 38, 24, 1);
$garnet: rgba(117, 64, 67, 1);
$beaver: rgba(154, 136, 115, 1);
$black-olive: rgba(55, 66, 61, 1);
$mindaro: rgba(233, 235, 135, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-right: linear-gradient(90deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-bottom: linear-gradient(180deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-left: linear-gradient(270deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-top-right: linear-gradient(45deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-bottom-right: linear-gradient(135deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-top-left: linear-gradient(225deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-bottom-left: linear-gradient(315deg, #171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);
$gradient-radial: radial-gradient(#171614ff, #3a2618ff, #754043ff, #9a8873ff, #37423dff, #e9eb87ff);